:root {
    --colorLightergray: rgb(243, 243, 243);
    --colorLightgray: rgb(224, 224, 224);
    --colorgray: rgb(177, 177, 177);
    --colorDarkgray: rgb(126, 126, 126);
    --colorDarkergray: rgb(70, 70, 70);
    --colorTransgray: rgba(0, 0, 0, 0.164);
    --colorRed: rgb(255, 67, 67);
    --colorPink: rgb(255, 124, 124);
    --colorBlue: rgb(85, 150, 255);
}


body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main__photos {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
}

.photo__wrapper {
    overflow: scroll;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
}

.main__photo {
    width: 100vw;
    height: 60vh;
    background-size: cover;
    background-position: center center;
    overflow: scroll;
}

.main__photos .main__photo:nth-child(1) {
    background-image: url(https://cdn.pixabay.com/photo/2013/11/28/04/15/cake-219595__340.jpg);
}


.main__photos .main__photo:nth-child(2) {
    background-image: url(https://cdn.pixabay.com/photo/2020/03/09/17/23/cake-4916482__340.jpg);
}


.main__photos .main__photo:nth-child(3) {
    background-image: url(https://cdn.pixabay.com/photo/2017/10/26/20/59/cake-2892449__340.jpg);
}


.card {
    position: relative;
    background-color: white;
    top: -50px;
    z-index: 1;
    border-radius: 25px 25px 0 0 ;
}


.card__handle {
    background-color: var(--colorLightgray);
    width: 40px;
    height: 4px;
    z-index: 2;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 20px;
}

.card__btn__heart {
    position: absolute;
    right: 40px;
    top: -30px;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 45px;
    color: var(--colorPink);
    box-shadow: 2px 2px 9px var(--colorTransgray);
}

.card__btn__heart:hover {
    color: var(--colorRed);
}


.card__title {
    font-size: 2em;
    color: var(--colorDarkergray);
    font-weight: bold;
    padding: 50px 30px 20px 
}

.card__info {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 0 40px;
}

.card__info .card__info__title {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    justify-items: flex-start;
    color: var(--colorgray);

}

.card__info .card__info__content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    justify-items: self-start;
    font-weight: bold;
    font-size: 1.2em;
}


.card__introduce {
    padding: 20px 30px;
}

.introduce__title {
    padding: 10px 0;
    color: var(--colorLightgray);
    font-size: 1.1em;
    font-weight: bold;

}

.introduce__content {
    line-height: 1.6em;
}

.introduce__more a {
    text-decoration: none;
    color: var(--colorBlue);
}