:root {
    --colorLightergray: rgb(243, 243, 243);
    --colorLightgray: rgb(224, 224, 224);
    --colorgray: rgb(177, 177, 177);
    --colorDarkgray: rgb(126, 126, 126);
    --colorDarkergray: rgb(70, 70, 70);
    --colorTransgray: rgba(0, 0, 0, 0.164);
    --colorPink: rgb(255, 124, 124);
}


body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.header__container {
    padding: 25px 20px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}


.header__container .header__title {
    display: grid;
    grid-template-columns: 7fr 1fr 1fr;
    align-items: center;

    & .header__titleTxt {
        font-size: 2em;
        font-weight: bold;
        color: var(--colorDarkergray);
    }

    & .header__btn {
        justify-self: center;
    }
}

.header__subtitle {
    color: var(--colorgray);
    padding-left: 10px;
}


.section__main {
    padding: 0 25px 0 25px;
}

.main__photo {
    height: 40vh;
    background-color: lightcoral;
    border-radius: 25px;
    background-size: cover;
    background-position: center center;
    box-shadow: 1px 1px 8px var(--colorTransgray);
    background-image: url(https://cdn.pixabay.com/photo/2019/03/13/15/30/easter-4053113__340.jpg);
    display: flex;
    justify-content: flex-end;

    & .main__photo__heart {
        display: flex;
        background-color: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 10px 10px;
        justify-content: center;
        font-size: 35px;
        color: var(--colorPink);
        opacity: 0.7;
        border: 1px solid var(--colorLightergray);
        transition: 0.2s;
    }
}

.main__photo__heart:hover {
    opacity: 1;
    font-size: 37px;
}



.main__description {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    background-color: white;
    position: relative;
    top: -50px;
    border-radius: 15px;
    margin: 0px 25px 0px 25px;
    padding: 10px 13px 5px 13px;
    border: 1px solid var(--colorLightergray);
    box-shadow: 1px 3px 10px var(--colorTransgray) ;

}

.main__description .description__title {
    font-weight: bold;
    font-size: 1.4em;
    color: var(--colorDarkergray);
}

.main__description .description__subtitle {
    color: var(--colorgray);
    font-size: 0.9em;
}

.main__description .description__btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    border-top: 1px solid var(--colorLightergray);
    padding: 5px 0 3px;

    & .description__btn {
        color: var(--colorgray);
        font-size: 0.9em;
    }
}




.section__reco {
    padding: 0 0 10px 20px;
    display: grid;
    grid-template-columns: 7fr 2fr;
    align-items: center;

    & .reco__title {
        font-size: 1.4em;
        font-weight: bold;
        color: var(--colorDarkergray);
    }

    & .reco__seeAll {
        font-size: 0.9em;
        color: var(--colorgray);
        justify-self: center;
    }
}


.reco__wrapper {
    padding: 20px 0 20px;
    overflow: scroll;
    display: grid;
    grid-auto-columns: minmax(180px, 1fr);
    grid-auto-flow: column;
    grid-gap: 10px;
    grid-area: span 1 / span 2;
}

.reco__wrapper .reco__item {
    border: solid 1px var(--colorLightergray);
    border-radius: 15px;
    box-shadow: 1px 3px 10px var(--colorLightergray) ;
}

.reco__item .item__photo {
    height: 120px;
    border-radius: 15px 15px 0 0;
    background-position: center center;
    background-size: cover;
}

.reco__item .item__name {
    padding: 5px 5px 5px 8px;
    font-weight: bold;
}

.reco__item .item__comment {
    padding: 0 5px 10px 10px;
    font-size: 0.8em;
    color: var(--colorgray);
}

.reco__item:nth-child(1) .item__photo{
    background-image: url(https://cdn.pixabay.com/photo/2017/07/31/21/39/juice-2561339__340.jpg);
}

.reco__item:nth-child(2) .item__photo{
    background-image: url(https://cdn.pixabay.com/photo/2013/02/19/16/00/france-confectionery-83373__340.jpg);
}

.reco__item:nth-child(3) .item__photo{
    background-image: url(https://cdn.pixabay.com/photo/2013/11/28/04/15/cake-219595__340.jpg);
}

.reco__item:nth-child(4) .item__photo{
    background-image: url(https://cdn.pixabay.com/photo/2017/04/12/17/19/muffins-2225091_960_720.jpg);
}