:root{
  --awesomeColor: #63cdda;
  --coolLine: 1px solid #546de5;
}


.father {
  display: grid;
  grid-template-columns: repeat(4, minmax(max-content, 1fr));
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
}

.first {
  background-color: pink;
}

.second {
  background-color: var(--awesomeColor);
}

.third {
  background-color: bisque;
}

.fourth {
  background-color: thistle;
}

.father div {
  display: flex;
  justify-content: center;
  align-items: center;
}



