:root {
    --colorLightgray: rgb(228, 228, 228);
    --colorgray: rgb(195, 195, 195);
    --colorDarkgray: rgb(160, 160, 160);
    --colorDarkergray: rgb(45, 45, 46);
}
    
html, body { 
    margin: 0;
    padding: 0;
    width: 100%;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* header */

.header__nav {
    position: absolute;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.pre_header {
    width: 50%;
    display: flex;
    justify-content: space-between;

    & .header__title {
        font-weight: 600;
        margin-left: 30px;
    }
    
    & .header__subtitle {
        margin-right: 20px;
        
        & span:first-child {
            color: var(--colorgray);
            margin-right: 20px;
        }
    }
}

.header__icon {
    width: 12%;
    display: flex;
    justify-content: space-around;

    & span:first-child {
        padding-left: 20px;
    }

    & span:last-child {
        padding-right: 20px;
    }
}


/* main */

.main {
    display: grid;
    grid-template-columns: 4fr repeat(4, 1fr);
    grid-template-rows: 100vh;
}

.main .section__title {
    display: flex;    
    align-items: center;
    padding: 30px;

    & .title {
        font-size: 3em;
        font-weight: 600;
    }
    
    & .subtitle {
        font-size: 0.9em;
        color: var(--colorgray);
        margin-top: 10px;
    }

    
    & .viewmore {
        display: flex;
        align-content: center;
        margin-top: 10vh;

        & svg {
            padding: 8px;
            border-radius: 50%;
            background-color: var(--colorLightgray);
            width: 8px;
            height: 8px;
        }

        & .viewmore__text {
            padding-left: 10px;
            color: var(--colorgray);
        }
    }
}

.main .main__bottombtn {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 9vh;
    left: 4vw;

    & svg {
        width: 10px;
        height: 10px;
        padding: 13px;
        border-radius: 50%;
        background-color: var(--colorLightgray);
    }

    & span:last-child {
        margin-left: 10px;
        font-size: 0.9em;
        color: var(--colorgray);
    }
}


/* main contents  */

.main .section__contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid var(--colorLightgray);

    & .content__title {
        margin-left: 10px;
        font-size: 0.7em;
        color: var(--colorgray);
    }
    
    & .content__subtitle {
        margin-left: 10px;
        font-size: 0.9em;
        margin-bottom: 20px;
    }

    & .content__photo {
        width: 100%;
        height: 40vh;
        background-position: center center;
        background-size: cover;
    }

    & .content__num {
        margin-left: 10px;
        margin-top: 15px;
        color: var(--colorgray);
    }
    
}

.section__contents:nth-child(2) .content__photo {
    background-image: url(https://cdn.pixabay.com/photo/2017/08/05/12/19/dress-2583113__340.jpg);
}

.section__contents:nth-child(3) .content__photo {
    background-image: url(https://cdn.pixabay.com/photo/2015/10/12/15/18/clothing-store-984396__340.jpg);
}

.section__contents:nth-child(4) .content__photo {
    background-image: url(https://cdn.pixabay.com/photo/2015/10/12/15/18/store-984393__340.jpg);
}

.section__contents:nth-child(5) .content__photo {
    background-image: url(https://cdn.pixabay.com/photo/2015/11/07/11/46/fashion-1031469__340.jpg);
}


