:root {
    --boxShadow: 0px 20px 30px rgba(0, 0, 0, 0.185);
    --colorLightgray: rgb(238, 238, 238);
    --colorgray: rgb(195, 195, 195);
    --colorDarkgray: rgb(160, 160, 160);
    --colorbluegray: rgb(214, 221, 228);
    --colorvioletgray: rgb(233, 231, 232);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--colorbluegray);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section__main {
    width: 80vw;
    height: 80vh;
    background-color: var(--colorvioletgray);
    margin: auto;
}

.nav {
    padding: 40px 50px;
}

.nav .nav__title {
    margin: 0 0 0 20px;
}

.nav .nav__title span {
    letter-spacing: 0.1em;
    font-size: 1.3em;
}

.nav .nav__title span:nth-child(1) {
    font-weight: bold;
}

.main {
    z-index: 2;
}

.main .main__wrapper {
    overflow: scroll;
    display: grid;
    grid-auto-columns: minmax(300px, 1fr);
    grid-auto-flow: column;
    grid-gap: 50px;
    padding: 30px 30px 50px 80px;
}


.main__wrapper .main__item {
    background-color: white;
    height: 48vh;
    box-shadow: var(--boxShadow);
}

.main__item .item__photo {
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 80%;
}

.main__item .item__comment {
    font-family: Georgia,Times,Times New Roman,serif; 
    text-align: center;
    padding: 30px 0;
}

.item__comment div {
    padding-top: 5px;
}

.item__comment div:nth-child(1) {
    font-weight: bold;
}

.item__comment div:nth-child(2) {
    font-size: 0.9em;
}


.main__item:nth-child(1) .item__photo {
    background-image: url(https://cdn.pixabay.com/photo/2016/06/24/10/47/architecture-1477041__340.jpg);
}

.main__item:nth-child(2) .item__photo {
    background-image: url(https://cdn.pixabay.com/photo/2016/11/18/17/46/architecture-1836070__340.jpg);
}

.main__item:nth-child(3) .item__photo {
    background-image: url(https://cdn.pixabay.com/photo/2014/07/10/17/18/large-home-389271__340.jpg);
}

.main__item:nth-child(4) .item__photo {
    background-image: url(https://cdn.pixabay.com/photo/2017/08/27/10/16/interior-2685521__340.jpg);
}

.main__item:nth-child(5) .item__photo {
    background-image: url(https://cdn.pixabay.com/photo/2016/01/31/14/32/architecture-1171462__340.jpg);
}

.main__item:nth-child(6) .item__photo {
    background-image: url(https://cdn.pixabay.com/photo/2018/01/24/15/08/live-3104077__340.jpg);
}

.main__item:nth-child(7) .item__photo {
    background-image: url(https://cdn.pixabay.com/photo/2016/11/21/15/09/apartments-1845884__340.jpg);
}


.nav__footer {
    background-color: white;
    width: 80vw;
    height: 15vh;
    position: absolute;
    bottom: 10vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    text-align: center;
    z-index: 0;
}

.nav__footer .footer__item {
    color: var(--colorDarkgray);
    font-size: 1.1em;
}

.nav__footer .footer__item:first-child {
    color: black;
    font-weight: bold;
}

.nav__footer .footer__icons {
    grid-area: span 1 / span 2;
    margin-left: 10em;
}

.nav__footer .footer__icons span {
    padding: 5px
}

.nav__footer .footer__icons svg {
    fill: var(--colorDarkgray);
}