:root {
    --colorLightgray: rgb(238, 238, 238);
    --colorgray: rgb(195, 195, 195);
    --colorDarkgray: rgb(160, 160, 160);
    --colorDarkergray: rgb(45, 45, 46);
    --colorpink: rgb(255, 228, 228);
    --colorwhitetrans: rgba(255, 255, 255, 0.312);
    --colorRed: rgb(223, 0, 0);
    --colortransRed: rgba(168, 0, 0, 0.394);
}

html, body { 
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.main {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 15px;
    grid-auto-flow: column;
    padding: 50px 60px 20px 20px;
}

.main .content {
    border-top: 5px solid black;
    height: 100%;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .content .content__num {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: -5px;
}

.main .content .content__title {
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 3vh;
    margin-top: -10px;
}

.main .content .content__subtitle {
    font-size: 0.6em;
    font-weight: 600;
    letter-spacing: -1px;
    color: var(--colorgray);
    transform-origin: 0% 100%;

    & span { 
        display: block;
    }

    & span:first-child {
        color: black;
        font-weight: bold;
    }
}

/* title */
.main .content:nth-child(1) {
    grid-area: span 3 / span 2;
    border: none;
    padding: 0;
    
    & .content__title {
        font-size: 4em;
        transform: rotate(-90deg);
        transform-origin: -5% 10%;
        color: var(--colorRed);
        font-weight: bolder;
    }
}

.content .content__line {
    border-top: 5px solid var(--colorRed);
    width: 40%;
}

.content .content__photo {
    width: 100%;
    height: 50%;
    background-color: var(--colortransRed);
    background-position: center center;
    background-size: cover;
}


/* 2 */
.main .content:nth-child(3) {
    grid-area: span 2 / span 1;
    
    & .content__photo {
        background-image: url(https://cdn.pixabay.com/photo/2014/02/25/22/06/staircase-274614__340.jpg);
    }

}


/* 3 */
.main .content:nth-child(4) {
    grid-area: span 3 / span 2;

    & .content__photo {
        background-image: url(https://cdn.pixabay.com/photo/2017/02/05/20/07/cloister-2041063__340.jpg);
    }
}

/* 4 */
.main .content:nth-child(5) {
    grid-area: span 2 / span 1;

    & .content__photo {
        background-image: url(https://cdn.pixabay.com/photo/2017/02/02/22/08/tunnel-2033983__340.jpg);
    }
}

/* 8 */
.main .content:nth-child(9) {
    grid-area: span 1 / span 2;
}

/* 3, 8 */
.main .content:nth-child(4),
.main .content:nth-child(9) {

    & .content__set {
        margin-top: -15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &  .content__num {
        font-size: 3.5em;
        font-weight: bolder;
    }

    & .content__title {
        margin-top: 15px;
    }

    & .content__subtitle {
        align-self: flex-end;
        text-align: right;
    }
}




.footer {
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;
    align-items: center;
}

.footer .footer__nav {
    display: grid;
    grid-template-columns: repeat(3, 3em);
    grid-gap: 10px;
    
    & span {
        font-weight: 600;
        color: var(--colorgray);
        border-bottom: 2px solid var(--colorgray);
    }

    & span:first-child {
        color: var(--colorRed);
    }
}

.footer .footer__info {
    & .info__title {
    font-weight: 600;
    }

    & .info__sub {
        margin: 0 30px 0 5px;
    }
}


.footer .footer__logo {
    font-size: 2em;
    font-weight: 600;
}
