:root {
    --gradientBackground: linear-gradient(to right, #c053ff, #99caff);
    --boxShadow: 0 10px 20px rgba(0, 0, 0, 0.096), 0 6px 6px rgba(0, 0, 0, 0.137);
    --colorgray: rgb(206, 206, 206);
    --colorDarkgray: rgb(160, 160, 160);
    --colorviolet: rgb(220, 103, 255);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--colorgray);
}


body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

.nav__btns svg {
    fill: white;
}

.main__list svg,
.people__info svg {
    fill: var(--colorgray);
}

.main__nav {
    padding: 10px;
    width: 100%;
    height: 12vh;
    background-image: var(--gradientBackground);
    display: flex;
    justify-content: space-between;
    box-shadow: var(--boxShadow);
    z-index: 2;
}

.main__nav .nav__title {
    padding: 10px;
    align-self: flex-end;

    & div {
        color: white;
        letter-spacing: 0.8em;
    }
}

.nav__title div:last-child {
    margin-left: 1.3em;
}

.main__nav .nav__btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-end;
    padding: 0 5px 5px;
}

.nav__btns .nav__btn {
    padding: 0px 15px;
}

.fakeBg {
    position: fixed;
    background-color: white;
    height: 100%;
    width: 80vw;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    margin: auto;
}

.main__list {
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;

    & .list__title {
        font-weight: bold;
        font-size: 3.5em;
        letter-spacing: 0.2em;
        margin-bottom: 20px;
    }

    & .list__subtitle {
        letter-spacing: 0.2em;
        color: var(--colorDarkgray);
        margin: 0 50px;
    }
}

.list__check {
    justify-self: center;
    align-self: center;
    margin-right: 20px;
}

.list__check svg:hover {
    fill: var(--colorviolet);
}
    
.main__list .list__title {
    grid-area: span 1 / span 2;
}

.list__line {
    border-bottom: 1px solid var(--colorDarkgray);
    width: 75vw;
    position: relative;
    right: -20vw;
}

.list__people {
    padding: 20px;
}

.list__people .people__info {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 10px 0px;
}

.people__info .people__info__name {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

.people__info .people__info__photo .photo {
    height: 50px;
    width: 50px;
    background-position: center center;
    background-size: cover;
    margin: 10px;
    box-shadow: var(--boxShadow);
}


.people__info:nth-child(1) .photo {
    background-image: url(https://cdn.pixabay.com/photo/2014/07/31/22/50/photographer-407068_960_720.jpg);
}

.people__info:nth-child(2) .photo {
    background-image: url(https://cdn.pixabay.com/photo/2018/01/15/07/51/woman-3083379_960_720.jpg);
}


.people__info:nth-child(3) .photo {
    background-image: url(https://cdn.pixabay.com/photo/2017/04/01/21/06/portrait-2194457__340.jpg);
}


.people__info:nth-child(4) .photo {
    background-image: url(https://cdn.pixabay.com/photo/2017/08/01/11/48/blue-2564660__340.jpg);
}


.people__info:nth-child(5) .photo {
    background-image: url(https://cdn.pixabay.com/photo/2018/03/01/14/57/portrait-3190849__340.jpg);
}

.people__info:nth-child(6) .photo {
    background-image: url(https://cdn.pixabay.com/photo/2018/04/27/03/51/woman-3353702__340.jpg);
}

.people__info__name .name {
    font-weight: bold;
    letter-spacing: 0.05em;
}

.people__info__name .friends {
    color: var(--colorDarkgray);
    letter-spacing: 0.1em;
    font-size: 0.9em;
}

