:root {
    --colorLightgray: rgb(228, 228, 228);
    --colorgray: rgb(195, 195, 195);
    --colorDarkgray: rgb(160, 160, 160);
    --colorDarkergray: rgb(45, 45, 46);
    --colorRed: rgb(255, 85, 85);
    --colorBlue: rgb(85, 190, 255);
    --solid : 2px solid black;
}
    
html, body { 
    margin: 0;
    padding: 0;
    width: 100%;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.header__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .header__nav__items {
        list-style: none;
        display: flex;
    
        & li {
            margin: 0 5px;
        }
    }
    
    
    & span {
        margin-right: 20px;
    }
}


.header__photo {
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/06/42/adventure-1867868_640.jpg);
    background-size: cover;
    background-position: center center;
    width: 98%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -2%;

    & span {
        font-size: 4em;
        font-weight: 600;
        text-align: center;
        letter-spacing: 1em;
        color: white;
        margin-left: 1em;
    }
}


/* main  */

.main {
    width: 95%;
    background-color: rgb(160, 160, 160);
}

.main__title__blog {
    margin-top: 30px;
    padding: 10px;
    text-align: center;

    & span {
        display: block;
        margin: 10px 0;
    }

    & span:first-child {
        font-size: 1.5em;
        font-weight: 600;
        letter-spacing: 10px;
    }
}


.main__articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 10px;
}

.article {
    background-color: rgb(216, 216, 255);
}



.article:nth-child(7) {
    grid-area: span 1 / span 2;
}

