:root{
    --colorLightergray: rgb(236, 236, 236);
    --colorLightgray: rgb(202, 202, 202);
    --colorgray: rgb(167, 167, 167);
    --colorDarkgray: rgb(87, 87, 87);
}

body {
    padding: 0;
    margin: 0 5px;
}

h1 {
    color: var(--colorDarkgray);
    padding: 0 10px;
    font-size: 2.5em;
}

.section__title {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    color: var(--colorDarkgray);
    padding: 0 20px;
}

.section__subtitle {
    display: block;
    color: var(--colorLightgray);
    padding: 0 21px;
}

.section__wrapper {
    overflow: scroll;
    display: grid;
    grid-auto-columns: minmax(160px, 1fr);
    grid-auto-flow: column;
    grid-gap: 10px;
    margin: 20px 15px 30px;
}


.section__item .section__item__photo {
    background-color: greenyellow;
    height: 150px;
    border-radius: 15%;
    background-size: cover;
    background-position: center center;
}

.section__item .section__item__cate {
    padding: 5px 10px;
    color: var(--colorDarkgray);
}

.section__item:first-child .section__item__photo {
    background-image: url(https://cdn.pixabay.com/photo/2017/01/18/17/14/girl-1990347_960_720.jpg);
}

.section__item:nth-child(2) .section__item__photo {
    background-image: url(https://cdn.pixabay.com/photo/2019/08/06/22/48/artificial-intelligence-4389372_960_720.jpg);
}

.section__item:nth-child(3) .section__item__photo {
    background-image: url(https://cdn.pixabay.com/photo/2018/05/17/16/03/compass-3408928_960_720.jpg);
}

.section__item:nth-child(4) .section__item__photo {
    background-image: url(https://cdn.pixabay.com/photo/2017/08/07/16/41/reading-2605540__340.jpg);
}

.section__item:nth-child(5) .section__item__photo {
    background-image: url(https://cdn.pixabay.com/photo/2018/08/15/00/26/desk-3606980_960_720.jpg);
}

.section__writer {
    border: 1px solid var(--colorLightergray);
    border-radius: 15px;
    padding: 15px 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.section__writer .section__writer__photo {
    background-color: greenyellow;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-self: center;
    background-size: cover;
    background-position: center center;
}

.section__writer .section__writer__info {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.section__writer .section__writer__name {
    font-weight: bold;
    color: var(--colorDarkgray);
    align-self: center;
}

.section__writer .section__writer__message {
    font-size: 0.9em;
    color: var(--colorgray);
    align-self: center;
}

.section__writer:first-child .section__writer__photo {
    background-image: url(https://cdn.pixabay.com/photo/2015/09/02/13/24/girl-919048__340.jpg);
}

.section__writer:last-child .section__writer__photo {
    background-image: url(https://cdn.pixabay.com/photo/2015/01/12/10/44/portrait-597173__340.jpg);
}


.sectionInfo__wrapper {
    padding: 10px;
    margin: 5px 10px;
}

.section__info{
    margin: 5px 10px 15px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 1px solid var(--colorLightergray);
    border-radius: 15px;
}

.section__info .section__info__photo {
    width: 120px;
    height: 120px;
    background-color: greenyellow;
    border-radius: 15px;
    background-size: cover;
    background-position: center center;
}

.section__info .section__info__text {
    display: grid;
    grid-template-rows: 1fr, 1fr, 2fr;
    align-items: center;
}

.section__info__text .info__text__title {
    font-weight: bold;
    font-size: 1.1em;
    color: var(--colorDarkgray);
}

.section__info__text .info__text__name {
    color: var(--colorDarkgray);
}

.section__info__text .info__text__comment {
    color: var(--colorLightgray)
}

.section__info:first-child .section__info__photo {
    background-image: url(https://cdn.pixabay.com/photo/2019/11/07/13/45/meditation-4608914_960_720.jpg);
}


.section__info:nth-child(2) .section__info__photo {
    background-image: url(https://cdn.pixabay.com/photo/2017/08/05/11/35/bed-2582795__340.jpg);
}

.section__info:nth-child(3) .section__info__photo {
    background-image: url(https://cdn.pixabay.com/photo/2014/09/11/22/57/peaceful-442070__340.jpg);
}

.section__info:nth-child(4) .section__info__photo {
    background-image: url(https://cdn.pixabay.com/photo/2017/02/15/13/40/tulips-2068692__340.jpg);
}

