:root {
    --colorLightgray: rgb(228, 228, 228);
    --colorgray: rgb(195, 195, 195);
    --colorDarkgray: rgb(160, 160, 160);
    --colorDarkergray: rgb(45, 45, 46);
    --colorRed: rgb(255, 85, 85);
    --colorBlue: rgb(85, 190, 255);
    --solid : 2px solid black;
}
    
html, body { 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex
}

/* left header nav */

.header__nav {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 5vw;
    justify-content: space-between;
    align-items: center;

    & .header__nav__icon {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    & div:last-child {
        color: var(--colorRed);
        font-size: 2em;
    }

    & svg {
        width: 10px;
    }
}

.header__nav__cate {
    width: 300px;
    text-align: center;
    transform: rotate(-90deg);
    font-size: 0.7em;

    & span {
        margin: 5px;
    }
}


/* main section  */

.main {
    width: 95vw;
    height: 100vh;
    background-color: var(--colorLightgray);
    display: flex;
    flex-flow: column;
}


/* 위에 제목  */

.main__title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 0.9em;
    font-weight: 600;

    & svg {
        position: absolute;
        right: 15px;
        width: 15px
    }
}


/* 가운데 내용, 화살표 */

.main .main__article {
    width: 70vw;
    height: 75vh;
    align-self: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.main__article .article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;

    & .photo {
        background-position: center center;
        background-size: cover;
        background-image: url(https://cdn.pixabay.com/photo/2017/12/31/06/16/women-3051614_960_720.jpg);
    }

    & .text {
        background-color: white;
        padding: 20px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: center;
    }

    & .text__cate {
        color: var(--colorBlue);
        font-size: 0.6em;
        margin-bottom: 20px;
        font-weight: 600;
    }

    & .text__title {
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.5em;
        margin-bottom: 20px;
        padding: 0 20px;
    }

    & .text__content {
        font-family: 'Times New Roman', Times, serif;
        margin-bottom: 20px;
    }

    & .text__date {
        font-size: 0.6em;
    }
}


.main .article__arrow {
    display: flex;
    justify-content: space-between;
    align-self: center;
    position: absolute;
    width: 90vw;
    top: 47vh;
    font-size: 3em;

    & span:first-child {
        color: var(--colorgray);
    }
}


/* bottom page num  */

.main__page {
    align-self: center;
    font-size: 0.8em;
    font-weight: 600;

    & span {
        padding: 0 5px;
    }

    & span:first-child {
        text-decoration: line-through;
    }
}